<ion-content>
  <div class="main_content_div">

      <ion-buttons slot="start" class="menu_btn">
          <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>

      <div class="user_div">
          <div class="first_div">
            <ion-label class="bienvenido">Bienvenido</ion-label>
            <ion-label class="nombre">Carlos Vera</ion-label>          
          </div>
          <div class="user_back" [style.backgroundImage]="'url(assets/carlitos-criano.jpg)'"></div>
      </div>

      <div class="content_div">
        <ion-label class="hello_lbl">Hola , Bienvenido al portal de asistencia DuocUC</ion-label>
        
      </div>
      
        
     
     
  

      <div class="duoc_back" [style.backgroundImage]="'url(assets/sedes-campus.jpg)'"></div>



  </div>
</ion-content>
